body {
    font-family: monospace;
    background-color: black;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px dashed #374151;
    margin: 10px;
    padding: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    width: 640px;
    height: 480px;
    z-index: 2;
}

.glow {
    position: fixed;
    z-index: 1;
    object-fit: cover;
    opacity: 25%;
    filter: blur(80px);
    transform: scale(1.05);
}
