body {
    font-family: monospace;
    background-color: black;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
    margin: 0;
    padding: 0;
}

a {
    margin-top: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    border: 1px solid #374151;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: color background-color 0.2s;
}

a:hover {
    color: black;
    background-color: white;
}

.container {
    border: 1px dashed #374151;
    margin: 10px;
    padding: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    width: 640px;
    height: 480px;
    z-index: 2;
}

.glow {
    position: fixed;
    z-index: 1;
    object-fit: cover;
    opacity: 25%;
    filter: blur(80px);
    transform: scale(1.05);
}

.controller {
    margin: 10px;
    display: grid;
    grid-template-columns: 120px 300px;
    justify-content: center;
    align-items: center;
}

.credit {
    margin: 5px;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0099ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #0099ff;
    cursor: pointer;
}
